:host {
  .form {
    width: 600px;
    margin: 0 auto;

    &__form-field {
      width: 100%;
    }

    &__date-time-pickers-row {
      display: flex;
      align-items: flex-start;
      gap: 10%;

      &__field {
        width: 45%;
      }
    }

    &__error-text {
      margin: 0;
      height: 25px;
      color: red;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 700px) {
  :host {
    .form {
      width: 100%;
      padding: 0 20px;

      &__form-field {
        width: 90%;
      }

      &__date-time-pickers-row {
        flex-direction: column;
        gap: 10px;

        &__field {
          width: 90%;
        }
      }
    }
  }
}
