<nav>
  <div class="nav-content todo-container">
    <a routerLink="/">
      <h1>My Todo List</h1>
    </a>
    <div [ngClass]="['nav-content__links', burgerOpen ? 'nav-content__links--visible' : '']">
      <a routerLink="/add">ADD</a>
      <a routerLink="/list">LIST</a>
      <a routerLink="/favorite">FAVOURITE TODO LIST</a>
    </div>
    <div class="nav-content__burger" (click)="toggleBurger()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>
<main class="todo-container">
  <ng-content />
</main>
